{% load staticfiles %}
{% load blog_tags %}
{% load newsletter_tags %}
{% load comunidad_tags %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Django.es{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        {% block css %}
        {% endblock %}
        <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
        <script src="{% static "js/modernizr.js" %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body class="body-{{ seccion }}">
        <div id="header-wrap">
            <div id="header">
                <div class="row">
                    <div class="large-4 medium-4 small-12 columns">
                        <span id="expand-menu" class="icon menu show-for-small-only">☰</span>
                        <a href="/"><img src="{% static "img/django_es_logo.png" %}" alt="Django en Español"></a>
                    </div>
                    <div class="large-8 medium-8 columns hide-for-small-only text-right tagline">
                        El framework de desarrollo web para perfeccionistas con plazos exigentes
                    </div>
                </div>
            </div>
            <div id="subheader" class="hide-for-small-only">
                <div class="row">
                    <div class="large-12 columns">
                        <a href="/" id="logo-mini"><img src="{% static "img/django_mini.png" %}"></a>
                        <ul id="menu">
                            <li {% if seccion == "intro" %}class="selected"{% endif %}><a href="{% url "intro" %}">Qué es Django</a></li>
                            <li {% if seccion == "blog" %}class="selected"{% endif %}><a href="{% url "blog:entrada_list" %}">Blog</a></li>
                            <li {% if seccion == "descarga" %}class="selected"{% endif %}><a href="{% url "descarga" %}">Descarga</a></li>
                            <li {% if seccion == "docs" %}class="selected"{% endif %}><a href="{% url "docs:index" %}">Documentación</a></li>
                            <li {% if seccion == "libros" %}class="selected"{% endif %}><a href="{% url "libros:libro_list" %}">Libros</a></li>
                            <li {% if seccion == "empleo" %}class="selected"{% endif %}><a href="{% url "empleo:oferta_list" %}">Empleo</a></li>
                            <li {% if seccion == "formacion" %}class="selected"{% endif %}><a href="{% url "formacion:curso_list" %}">Formación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="show-for-small-only">
            <ul id="mini-menu" class="hide">
                <li {% if seccion == "intro" %}class="selected"{% endif %}><a href="{% url "intro" %}">Qué es Django</a></li>
                <li {% if seccion == "blog" %}class="selected"{% endif %}><a href="{% url "blog:entrada_list" %}">Blog</a></li>
                <li {% if seccion == "descarga" %}class="selected"{% endif %}><a href="{% url "descarga" %}">Descarga</a></li>
                <li {% if seccion == "docs" %}class="selected"{% endif %}><a href="{% url "docs:index" %}">Documentación</a></li>
                <li {% if seccion == "libros" %}class="selected"{% endif %}><a href="{% url "libros:libro_list" %}">Libros</a></li>
                <li {% if seccion == "empleo" %}class="selected"{% endif %}><a href="{% url "empleo:oferta_list" %}">Empleo</a></li>
                <li {% if seccion == "formacion" %}class="selected"{% endif %}><a href="{% url "formacion:curso_list" %}">Formación</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="pre-footer">
        <div class="row">
            <div class="large-6 columns mt10 mb10">
                {% get_newsletter_subscriptor_form as newsletter_form %}
                <form action="" method="post">
                    <h5>Suscríbete al newsletter</h5><br>
                    {{ newsletter_form.email }}
                    <input type="submit" class="button small" value="Suscribirme">
                </form>
            </div>
            <div class="large-6 columns text-right">
                <div class="by-zenx">
                    <span class="copyright">Hecho a mano por </span>
                    <a href="http://zenxit.com/" target="_blank"><img src="{% static "img/zenxit_logo.png" %}" style="width:180px;"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="row">
            <div class="large-3 medium-3 small-12 columns">
                <h5>Documentación</h5>
                <ul>
                    <li><a href="{% url "docs:document" "intro/overview/" %}">Introducción a Django</a></li>
                    <li><a href="{% url "docs:document" "intro/install/" %}">Instalar Django</a></li>
                    <li><a href="{% url "docs:document" "intro/tutorial01/" %}">Tutorial de Django</a></li>
                    <li><a href="{% url "docs:document" "topics/db/models/" %}">Modelos</a></li>
                    <li><a href="{% url "docs:document" "topics/http/views/" %}">Vistas</a></li>
                    <li><a href="{% url "docs:document" "topics/http/urls/" %}">URLs</a></li>
                    <li><a href="{% url "docs:document" "topics/templates/" %}">Plantillas</a></li>
                    <li><a href="{% url "docs:document" "topics/forms/" %}">Formularios</a></li>
                </ul>
            </div>

            <div class="large-5 medium-5 small-12 columns">
                <h5>Entradas del blog</h5>
                {% get_ultimas_entradas 7 as ultimas_entradas %}
                <ul>
                {% for entrada in ultimas_entradas %}
                    <li><a href="{{ entrada.get_absolute_url }}">{{ entrada.titulo }}</a></li>
                {% endfor %}
                </ul>
            </div>

            <div class="large-4 medium-4 small-12 columns">
                <h5>Comunidad</h5>
                {% get_feed_items 6 as ultimos_articulos %}
                <ul>
                {% for articulo in ultimos_articulos %}
                    <li><a href="{{ articulo.link }}" ref="nofollow" target="_blank">{{ articulo.titulo }}</a></li>
                {% endfor %}
                </ul>
                <div class="text-right mt40">
                    <img src="{% static "img/python.png" %}" style="width:80px; margin:0;">
                    <span>Framework web <a href="http://www.python.org/" target="_blank">Python</a></span>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-bar">
        <a href="#" data-reveal-id="contact-modal" data-reveal>Apúntate al newsletter para recibir información de cursos, etc. en tu correo</a>
    </div>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "fancybox/jquery.fancybox.pack.js" %}"></script>
    {% block include_js %}{% endblock %}
	<script type="text/javascript">
        {% block js %}{% endblock %}

        $(document).foundation();
		$(document).ready(function(){
            /*
            $(".fancybox").fancybox({
                'padding' : 0,
                'helpers': {
                    'overlay': {
                      'locked': false
                    }
                  }
            });
            */
            $('#expand-menu').click(function() {
                $(this).toggleClass('active');
                $('#mini-menu').toggleClass('hide');
            });

            bottom_bar_visible = false;
            $(window).scroll(function() {

                if ($(window).scrollTop() > 1200 && bottom_bar_visible == false) {
                    $('#bottom-bar').fadeIn();
                    bottom_bar_visible = true;
                }

                if ($(window).scrollTop() > $('#header').height()) {
                    $('#subheader').css({
                        'position': 'fixed',
                        'top': 0,
                        'width': '100%',
                        'background': 'rgba(60, 189, 140, 0.8)'
                    });
                    $('#logo-mini').fadeIn();
                }
                else {
                    $('#subheader').css({
                        'position': 'relative',
                    });
                    $('#logo-mini').hide();
                }
        	});

			{% block domready %}
			{% endblock %}

		});

  </script>
  </body>
</html>
