{% extends "base.html" %}
{% load static %}

{% block title %}¿Qué es Django?{% endblock %}

{% block content %}
<div class="row">
    <div class="large-8 medium-8 columns">
        <h1>¿Qué es Django?</h1>
        <div class="green box mt30 mb30">
            <h2>Django se inventó para satisfacer rápido movimiento plazos de redacción, al tiempo que satisface los exigentes requisitos de los desarrolladores web experimentados.</h2>
        </div>

        <h3>¿Por qué Django?</h3>

        <p>Con Django puedes desarrollar aplicaciones web desde el concepto hasta su lanzamiento en cuestión de horas. Django se encarga de gran parte de las dificultades del desarrollo Web, para que puedas centrarte en programar tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código abierto.</p>

        <h3>Ridículamente rápido.</h3>
        <p>Django fue diseñado para ayudar a los desarrolladores reciben solicitudes desde el concepto hasta su finalización lo antes posible.</p>

        <h3>A plena carga.</h3>
        <p>Django incluye docenas de extras que puede utilizar para manejar tareas comunes de desarrollo Web. Django se encarga de la autenticación de usuarios, administración de contenidos, mapas de sitios, feeds RSS, los comentarios de los usuarios y muchas más tareas - nada más sacarlo de la caja.</p>

        <h3>Resulta tranquilizador seguro.</h3>
        <p>Django toma en serio la seguridad y ayuda a los desarrolladores a evitar muchos errores de seguridad más comunes, como la inyección SQL, cross-site scripting, cross-site solicitud falsificación y clickjacking. Su sistema de autenticación de usuario proporciona una forma segura para administrar cuentas de usuario y contraseñas.</p>

        <h3>Sumamente escalable.</h3>
        <p>Algunos de los sitios más concurridos del planeta utilizan la capacidad de Django para escalar con rapidez y flexibilidad para satisfacer las demandas de tráfico más pesado.</p>

        Increíblemente versátil.</h3>
        <p>Empresas, organizaciones y gobiernos han usado Django para construir todo tipo de cosas - de los sistemas de gestión de contenidos a las redes sociales a las plataformas de computación científica.</p>
    </div>
    <div class="large-4 medium-4 columns">
        {% include "sidebar/libro.html" %}
    </div>
</div>
{% endblock %}
