{% extends 'blog/base.html' %}
{% load i18n %}
{% load blog_tags %}

{% block extra_head %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{{ entrada.title }}"/>
    <meta property="og:site_name" content="{% trans "YouDo Hotels Consulting" %}" />
    {% if entrada.image %}
        <meta property="og:image" content="{{ entrada.image.url_290x0 }}" />
    {% endif %}
    <meta itemprop="description" content="{{ entrada.html|truncatewords:110 }}">
{% endblock %}

{% block html_attrs %}itemscope itemtype="http://schema.org/Blog"{% endblock %}

{% block title %}{{ entrada.titulo }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "blog:entrada_list" %}">{% trans "Blog" %}</a></li>
    <li><a href="{% url "blog_year_archive" entrada.publicado.year %}">{{ entrada.publicado.year }}</a></li>
    <li><a href="{% url "blog_month_archive" entrada.publicado.year entrada.publicado|date:"m" %}">{{ entrada.publicado|date:"M" }}</a></li>
    <li class="current"><a href="#">{{ entrada.title }}</a></li>
{% endblock %}

{% block section_content %}
<div class="row pt40">
	<div class="large-12 columns mb30">
		<p><a href="{% url "blog:entrada_list" %}" class="back link">{% trans "Todos los artículos" %}</a></p>
	</div>
	<div class="large-12 columns">
	    <h1 class="mb10" itemprop="name">{{ entrada.titulo }}</h1>
		<p class="date">
   			{% trans "Publicado el" %} {{ entrada.publicado|date:"DATE_FORMAT" }}
		</p>
    </div>
    <div class="large-12 columns">
        <ul class="tags">
            {% for tag in entrada.tags.all %}
                <li><a href="{% url "blog_tag_entrada_list" tag.slug %}">{{ tag.name|capfirst }}</a></li>
            {% endfor %}
        </ul>

		<div class="recommend">
		    <div class="fb"><fb:like send="false" data-action="recommend" layout="button_count" width="100" show_faces="false" font="arial"></fb:like></div>
		    <div class="twitter">
		        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ request.build_absolute_uri }}" data-counturl="{{ request.build_absolute_uri }}" data-lang="{{ LANGUAGE_CODE }}">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
		    <div class="google"><g:plusone size="medium"></g:plusone></div>
        </div>
    </div>
	<div class="large-12 columns entrada">
		{% if entrada.imagen %}
		    <a href="{{ entrada.image.url }}" class="zoom">
		    {% if entrada.imagen.width > 620 and entrada.image.width >= entrada.image.height %}
			    <img src="{{ entrada.image.url_620x0 }}" alt="{{ entrada.title }}" itemprop="image" class="thumbnail entrada-image" />
			{% else %}
			    {% if entrada.imagen.width > 290 %}
			        <img src="{{ entrada.image.url_290x0 }}" alt="{{ entrada.title }}" itemprop="image" class="thumbnail entrada-image" />
			    {% else %}
			        <img src="{{ entrada.image.url }}" alt="{{ entrada.title }}" itemprop="image" class="thumbnail entrada-image" />
			    {% endif %}
			{% endif %}
			</a>
		{% endif %}
		{{ entrada.html|safe }}
	</div>

	{% if similar_entradas|length >= 2 %}
	<div class="large-12 columns">
		<h3 class="mt30 mb10">Entradas similares</h3>
		<hr class="mt10" />
	</div>
	<div class="large-12 columns">
		<div class="row">
	        {% for entrada in entradas_similares|slice:':2' %}
        	    {% if forloop.first %}
        	    <div class="large-6 columns">
        	    {% else %}
        	    <div class="large-6 columns">
        	    {% endif %}
        	        <div class="item">
        	            <div  class="image">{% if entrada.image %}<a href="{{ entrada.get_absolute_url }}"><img src="{{ entrada.image.url_40x40 }}" alt="{{ entrada.title }}" /></a>{% else %}&nbsp;{% endif %}</div>
                        <p class="date">{{ entrada.publicado|date:"DATE_FORMAT" }}</p>
                        <h4><a href="{{ entrada.get_absolute_url }}">{{ entrada.title }}</a></h4>
        	        </div>
        	    </div>
        	{% endfor %}
        </div>

		{% if similar_entradas|length >= 4 %}
        <div class="row">
        	{% for entrada in similar_entradas|slice:'2:4' %}
        	    {% if forloop.first %}
        	    <div class="large-6 columns">
        	    {% else %}
        	    <div class="large-6 columns">
        	    {% endif %}
        	        <div class="item">
        	            <div  class="image">{% if entrada.image %}<a href="{{ entrada.get_absolute_url }}"><img src="{{ entrada.image.url_40x40 }}" alt="{{ entrada.title }}" /></a>{% else %}&nbsp;{% endif %}</div>
                        <p class="date">{{ entrada.publicado|date:"DATE_FORMAT" }}</p>
                        <h4><a href="{{ entrada.get_absolute_url }}">{{ entrada.title }}</a></h4>
        	        </div>
        	    </div>
        	{% endfor %}
		</div>
        {% endif %}
	</div>
	{% endif %}
</div>
{% endblock %}

{% block include_js %}
{% endblock %}
