{% extends 'blog/base.html' %}
{% load i18n %}
{% load blog_tags %}

{% block title %}
    {% if tag %}
        {% blocktrans with tag_name=tag.name|capfirst %}Noticias sobre {{ tag_name }}{% endblocktrans %}{% if page.number > 1 %}, {% trans "pág." %} {{ page.number }}{% endif %}
    {% else %}
        {% trans "Blog de Django (Framework web Python)" %}
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    {% if category or tag %}
        <li><a href="{% url "blog:entrada_list" %}">{% trans "Blog" %}</a></li>
        {% if category %}
            <li class="current"><a href="#">{% trans "Categoría" %}: {{ category }}</a></li>
        {% endif %}
        {% if tag %}
            <li class="current"><a href="#">{% trans "Etiqueta" %} "{{ tag.name|capfirst }}"</a></li>
        {% endif %}
    {% else %}
        <li class="current"><a href="#">Blog</a></li>
    {% endif %}
{% endblock %}

{% block section_content %}
<div class="row pt40">
	{% if tag %}
		<div class="large-12 columns mb20">
			<p><a href="{% url "blog:entrada_list" %}" class="back link">{% trans "Todos los artículos" %}</a></p>
			<h1 class="mb0">{{ tag.name|capfirst }}</h1>
			<hr class="mt10" />
		</div>
	{% endif %}

	{% for entrada in entradas %}
	    <div class="large-12 columns">
			<h2><a href="{% url "blog:entrada_detail" entrada.slug %}">{{ entrada.titulo }}</a></h2>
			<p class="date">
       			{% trans "Publicado el" %} {{ entrada.publicado|date:"DATE_FORMAT" }}.
   			</p>
        </div>
        <div class="large-12 columns">
            <ul class="tags">
                {% for tag in entrada.tags.all %}
                    <li><a href="{% url "blog_tag_entrada_list" tag.slug %}">{{ tag.name|capfirst }}</a></li>
                {% endfor %}
            </ul>

   			<div class="clear">&nbsp;</div>
		</div>
		<div class="large-12 columns mb40 entrada">
  			{% if entrada.imagen %}
  				<a href="{% url "blog:entrada_detail" entrada.slug %}">
					{% if entrada.imagen.width > 290 %}
						<img src="{{ entrada.image.url_290x0 }}" alt="{% trans "Leer" %} {{ entrada.title }}" class="thumbnail entrada-image" />
					{% else %}
						<img src="{{ entrada.image.url }}" alt="{% trans "Leer" %} {{ entrada.title }}" class="thumbnail entrada-image" />
					{% endif %}
				</a>
			{% endif %}
			{% if entrada.html|wordcount > 150 %}
			    {{ entrada.html|safe|truncatewords_html:120 }}
			{% else %}
			    {{ entrada.html|safe }}
			{% endif %}
			{% if entrada.html|wordcount > 150 %}
				<p style="text-align:right;"><a href="{% url "blog:entrada_detail" entrada.slug %}" class="link">Continuar leyendo</a></p>
			{% endif %}
  		</div>
	{% empty %}
		<p>No existen artículos{% if category %} para esta categoría{% endif %}.</p>
	{% endfor %}
	<div class="large-12 columns">
	    {% include "pagination.html" with page=entradas %}
	</div>


</div>
{% endblock %}
