{% extends "base.html" %}

{% block title %}Cursos de Django (Python){% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Cursos sobre Django</h1>
            <p>Esta página hace una recopilación de la formación disponible para aprender Django.</p>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 large-4 columns">
            <h3>País</h3>
            <ul class="menu">
                <li {% if not editorial %}class="selected"{% endif %}><a href="{% url "formacion:curso_list" %}">Todos</a></li>
            {% for p in paises %}
                <li {% if editorial.id == e.id %}class="selected"{% endif %}>
                    <a href="{% url "formacion:curso_list_por_pais" p.codigo %}">
                        {{ p }} ({{ p.cursos.count }})
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="medium-8 large-8 columns">
        	{% for libro in libros %}
        	    <a href="{{ libro.get_absolute_url }}">
                    <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }}">
                </a>
                <h4><a href="{{ libro.get_absolute_url }}">{{ curso.titulo }}</a></h4>
                
        		<p><span class="texto-secundario">por en {{ curso.ciudad }} ({{ curso.pais }})</span></p>
        	    {{ curso.descripcion|linebreaks }}
        		<p><a href="{{ libro.url }}" rel="nofollow" class="button">Apuntarme</a></p>
        	{% endfor %}
            {% include "pagination.html" with page=cursos %}
        </div>
    </div>
{% endblock %}